/***** BASE STYLES *****/

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.container {   
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h1,
h2,
h3 {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 1.875em;
}

h2 {
    font-size: 1.125em;
}

h3 {
    font-size: .75em;
}

p {
    font-size: .875em;
    line-height: 21px;
}

ul {
    margin: 0
}

/***** HEADER-ALL PAGES *****/

header {
    border-bottom: 3px solid #77a466;
	text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

header h1 {
	margin: 0;
    padding: 38px 20px 20px 20px; 
	border-bottom: 3px solid #77a466;
	width: 100%;
}

header h1 span {
    color: #77a466
}

header nav {
    padding: 20px 0;
    width: 100%;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
    text-transform: uppercase;
    font-size: .875em;
    font-weight: 700;  
    padding: 10px 0;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #77a466;
}

/***** FOOTER-ALL PAGES *****/

footer {
    border-top: 3px solid #eee;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

footer span {
    font-family: 'Galada', cursive;
    color: #77a466;
    text-transform: lowercase;
    font-size: 1.1em;
    font-weight: lighter;
}

/***** HOME PAGE-SECTIONS *****/

.top-section,
.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#main-image img {
    border-bottom: 3px solid #77a466;
    width: 100%;
}

#main-text h2 {
    color: #77a466;
    text-align: left;
    padding: 5px 0;
}

#main-text p {
    font-size: 1em;
    line-height: 25px;
    padding: 0;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

#specials {
    list-style: none;
    padding: 0;
}

#specials li {
    padding: 10px 0;
    color: #77a466;
}

#reviews {
    font-size: 1em;
    line-height: 25px;
}

#contact {
    font-size: 1em;
    line-height: 25px;
}

/***** MENU PAGE *****/

#menu h2 {
    font-family: 'WisdomScriptAJ';
    font-weight: lighter;
    text-transform: capitalize;
    text-align: center;
    padding: 30px 0 10px 0;
    margin: 0; 
    border-top: 1px solid #dedbdc;
}

#menu h3 {
    color: #77a466;
    text-align: center;
    padding: 30px;
    margin: 0; 
}

#menu .third-width {
    width: 390px;
    margin: 5px;
    padding: 0 0 10px 0;
}

#salad, #burrito, #tamales {
    max-width: 100%;
}

#menu p {
    text-align: center;
}

/***** MEDIA QUERIES *****/

/*Tablet*/
@media all and (min-width: 768px) {
	.bottom-section{
		justify-content: space-between;
		align-items: flex-start;
        border-top: 1px solid #eee;
	}

	.section-one,
	.section-two,
	.section-three{
		border-top: none;
		flex-basis: 30%;
	}

	.section-two{
		padding: 0 20px;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
}

/*Desktop*/
@media all and (min-width: 1200px) {
	header{
		justify-content: space-between;
	}

	header h1{
		width: 30%;
		padding: 0;
		border-bottom: none;
		text-align: left;
	}

	header nav {
		width: 40%
	}

	header nav ul{
		display: flex;
		justify-content: space-between;
	}
}